<template name="nav">
    <!-- <p class="bs-component">
       
        <a href="/sections" class="btn btn-primary">Sections</a>
        <a href="javascript:void(0)" class="btn btn-success">Rooms</a>
        <a href="javascript:void(0)" class="btn btn-info">People</a>
        
    </p>
	 -->
	
	<ul class="nav nav-tabs">
	  <li class="main-nav-btn" role="presentation"><a href="/sections">Section</a></li>
	  <li class="main-nav-btn" role="presentation"><a href="/rooms">Room</a></li>
	  <li class="main-nav-btn" role="presentation"><a href="/people">People</a></li>
	  
	  <a class="list-right" href="/logout">Logout</a>
	</ul>
</template>